defaults: &defaults
  adapter: postgresql
  encoding: unicode
  username: username
  host: localhost
  port: 5432
  pool: 14
  reaping_frequency: 10

development:
  <<: *defaults
  database: wf_def

test: &test
  <<: *defaults
  database: wf_test